@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

input,
textarea,
select {
  @apply border border-gray-300 px-3 py-2;
}

button:disabled {
  @apply opacity-50;
}
